CRM/ESB/Service References/BalizaWs/BalizaWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="enviarMensajeCliente" type="tns:enviarMensajeCliente" />
  <xs:element name="enviarMensajeClienteResponse" type="tns:enviarMensajeClienteResponse" />
  <xs:element name="enviarMensajeClientes" type="tns:enviarMensajeClientes" />
  <xs:element name="enviarMensajeClientesResponse" type="tns:enviarMensajeClientesResponse" />
  <xs:element name="enviarMensajeZona" type="tns:enviarMensajeZona" />
  <xs:element name="enviarMensajeZonaResponse" type="tns:enviarMensajeZonaResponse" />
  <xs:element name="getFechaVisitas" type="tns:getFechaVisitas" />
  <xs:element name="getFechaVisitasResponse" type="tns:getFechaVisitasResponse" />
  <xs:element name="getVisitasPorIdCliente" type="tns:getVisitasPorIdCliente" />
  <xs:element name="getVisitasPorIdClienteResponse" type="tns:getVisitasPorIdClienteResponse" />
  <xs:element name="insertarZona" type="tns:insertarZona" />
  <xs:element name="insertarZonaResponse" type="tns:insertarZonaResponse" />
  <xs:complexType name="insertarZona">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreZona" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarZonaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarMensajeZona">
    <xs:sequence>
      <xs:element name="idZona" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarMensajeZonaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarMensajeCliente">
    <xs:sequence>
      <xs:element name="idCliente" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarMensajeClienteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarMensajeClientes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clienteIDs" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarMensajeClientesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFechaVisitas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getFechaVisitasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getVisitasPorIdCliente">
    <xs:sequence>
      <xs:element name="idCliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getVisitasPorIdClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>