Baliza/src/java/ws/BalizaWS_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://ws/" xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="getFechaVisitas" type="tns:getFechaVisitas"/>

  <xs:element name="getFechaVisitasResponse" type="tns:getFechaVisitasResponse"/>

  <xs:complexType name="getFechaVisitas">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getFechaVisitasResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

