Baliza/src/java/ws/BalizaWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<definitions targetNamespace="http://ws/" name="BalizaWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws/" schemaLocation="BalizaWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="insertarZona">
    <part name="parameters" element="tns:insertarZona"/>
  </message>
  <message name="insertarZonaResponse">
    <part name="parameters" element="tns:insertarZonaResponse"/>
  </message>
  <message name="getFechaVisitas">
    <part name="parameters" element="tns:getFechaVisitas"/>
  </message>
  <message name="getFechaVisitasResponse">
    <part name="parameters" element="tns:getFechaVisitasResponse"/>
  </message>
  <message name="getVisitasPorIdCliente">
    <part name="parameters" element="tns:getVisitasPorIdCliente"/>
  </message>
  <message name="getVisitasPorIdClienteResponse">
    <part name="parameters" element="tns:getVisitasPorIdClienteResponse"/>
  </message>
  <message name="enviarMensajeCliente">
    <part name="parameters" element="tns:enviarMensajeCliente"/>
  </message>
  <message name="enviarMensajeClienteResponse">
    <part name="parameters" element="tns:enviarMensajeClienteResponse"/>
  </message>
  <portType name="BalizaWS">
    <operation name="insertarZona">
      <input wsam:Action="http://ws/BalizaWS/insertarZonaRequest" message="tns:insertarZona"/>
      <output wsam:Action="http://ws/BalizaWS/insertarZonaResponse" message="tns:insertarZonaResponse"/>
    </operation>
    <operation name="getFechaVisitas">
      <input wsam:Action="http://ws/BalizaWS/getFechaVisitasRequest" message="tns:getFechaVisitas"/>
      <output wsam:Action="http://ws/BalizaWS/getFechaVisitasResponse" message="tns:getFechaVisitasResponse"/>
    </operation>
    <operation name="getVisitasPorIdCliente">
      <input wsam:Action="http://ws/BalizaWS/getVisitasPorIdClienteRequest" message="tns:getVisitasPorIdCliente"/>
      <output wsam:Action="http://ws/BalizaWS/getVisitasPorIdClienteResponse" message="tns:getVisitasPorIdClienteResponse"/>
    </operation>
    <operation name="enviarMensajeCliente">
      <input wsam:Action="http://ws/BalizaWS/enviarMensajeClienteRequest" message="tns:enviarMensajeCliente"/>
      <output wsam:Action="http://ws/BalizaWS/enviarMensajeClienteResponse" message="tns:enviarMensajeClienteResponse"/>
    </operation>
  </portType>
  <binding name="BalizaWSPortBinding" type="tns:BalizaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="insertarZona">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFechaVisitas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getVisitasPorIdCliente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="enviarMensajeCliente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BalizaWS">
    <port name="BalizaWSPort" binding="tns:BalizaWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

